vc-portfolio/n8n-workflows/newtrul-freight-agent.json
{
  "name": "Newtrul: Freight Negotiation Agent",
  "nodes": [
    {
      "parameters": {},
      "name": "Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    shipmentId: 'SH-2026-001',\n    route: {\n      origin: 'Los Angeles, CA',\n      destination: 'Chicago, IL',\n      distance: 2015\n    },\n    cargo: {\n      type: 'Electronics',\n      weight: 15000,\n      value: 250000\n    },\n    requirements: {\n      deliveryDate: '2026-03-01',\n      equipment: 'Dry Van',\n      insurance: true\n    }\n  }\n}];"
      },
      "name": "Shipment Request",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [450, 300]
    },
    {
      "parameters": {
        "jsCode": "const shipment = $input.first().json;\n\n// Calculate market rate\nconst baseRate = shipment.route.distance * 2.50; // $2.50/mile\nconst weightFactor = shipment.cargo.weight > 10000 ? 1.2 : 1.0;\nconst equipmentFactor = shipment.requirements.equipment === 'Reefer' ? 1.3 : 1.0;\n\nconst carriers = [\n  { name: 'Swift Transport', rating: 4.8, baseRate: baseRate * 0.95 },\n  { name: 'J.B. Hunt', rating: 4.9, baseRate: baseRate * 1.05 },\n  { name: 'Schneider', rating: 4.7, baseRate: baseRate * 0.98 }\n];\n\n// Get quotes\nconst quotes = carriers.map(c => ({\n  carrier: c.name,\n  rating: c.rating,\n  quote: Math.round(c.baseRate * weightFactor * equipmentFactor),\n  transitTime: '2-3 days'\n})).sort((a, b) => a.quote - b.quote);\n\nreturn [{\n  json: {\n    ...shipment,\n    marketRate: Math.round(baseRate),\n    quotes,\n    recommended: quotes[0],\n    savingsVsMarket: Math.round(baseRate - quotes[0].quote)\n  }\n}];"
      },
      "name": "Get Carrier Quotes",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [650, 300]
    },
    {
      "parameters": {
        "jsCode": "// Automated negotiation logic\nconst data = $input.first().json;\nconst bestQuote = data.quotes[0];\n\n// Try to negotiate 5% lower\nconst negotiatedRate = Math.round(bestQuote.quote * 0.95);\n\nreturn [{\n  json: {\n    ...data,\n    negotiation: {\n      attempted: true,\n      originalQuote: bestQuote.quote,\n      negotiatedRate: negotiatedRate,\n      savings: bestQuote.quote - negotiatedRate,\n      carrier: bestQuote.carrier,\n      message: `We've negotiated a special rate of $${negotiatedRate} with ${bestQuote.carrier} based on our volume commitment.`\n    }\n  }\n}];"
      },
      "name": "Negotiate Rate",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [850, 300]
    },
    {
      "parameters": {
        "channel": "freight-approvals",
        "text": "=🚛 Freight Quote Ready for Approval\n\nShipment: {{ $json.shipmentId }}\nRoute: {{ $json.route.origin }} → {{ $json.route.destination }}\n\n💰 Negotiated Rate: ${{ $json.negotiation.negotiatedRate }}\nOriginal Quote: ${{ $json.negotiation.originalQuote }}\n💵 Savings: ${{ $json.negotiation.savings }}\n\nCarrier: {{ $json.negotiation.carrier }}\nTransit: 2-3 days\n\n⚡ Reply \"BOOK\" to confirm",
        "options": {}
      },
      "name": "Notify Broker",
      "type": "n8n-nodes-base.slack",
      "typeVersion": 2.1,
      "position": [1050, 200]
    },
    {
      "parameters": {
        "fromEmail": "freight@newtrul.com",
        "toEmail": "carrier@example.com",
        "subject": "=Freight Quote Request - {{ $json.shipmentId }}",
        "text": "=Hi,\n\nWe have a shipment requiring transport:\n\nRoute: {{ $json.route.origin }} → {{ $json.route.destination }}\nDistance: {{ $json.route.distance }} miles\nCargo: {{ $json.cargo.type }}, {{ $json.cargo.weight }} lbs\nEquipment: {{ $json.requirements.equipment }}\nDelivery: {{ $json.requirements.deliveryDate }}\n\nWe're looking for quotes around ${{ $json.negotiation.negotiatedRate }}.\n\nPlease confirm availability.\n\nThanks,\nNewtrul Freight Team",
        "options": {}
      },
      "name": "Contact Carrier",
      "type": "n8n-nodes-base.sendEmail",
      "typeVersion": 2.1,
      "position": [1050, 400]
    },
    {
      "parameters": {
        "jsCode": "return [{\n  json: {\n    status: 'awaiting_approval',\n    summary: {\n      shipment: $input.first().json.shipmentId,\n      negotiatedRate: $input.first().json.negotiation.negotiatedRate,\n      carrier: $input.first().json.negotiation.carrier,\n      savings: $input.first().json.negotiation.savings,\n      nextStep: 'Broker approval via Slack'\n    }\n  }\n}];"
      },
      "name": "Log Deal",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1250, 300]
    }
  ],
  "connections": {
    "Trigger": {
      "main": [[{"node": "Shipment Request", "type": "main", "index": 0}]]
    },
    "Shipment Request": {
      "main": [[{"node": "Get Carrier Quotes", "type": "main", "index": 0}]]
    },
    "Get Carrier Quotes": {
      "main": [[{"node": "Negotiate Rate", "type": "main", "index": 0}]]
    },
    "Negotiate Rate": {
      "main": [
        [{"node": "Notify Broker", "type": "main", "index": 0}],
        [{"node": "Contact Carrier", "type": "main", "index": 0}]
      ]
    },
    "Notify Broker": {
      "main": [[{"node": "Log Deal", "type": "main", "index": 0}]]
    },
    "Contact Carrier": {
      "main": [[{"node": "Log Deal", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "description": "Newtrul: Freight Negotiation Agent - Automates carrier outreach and price negotiation"
}